openapi: 3.1.0
info:
  title: druz9 API
  version: 1.0.0-mvp
  description: |
    druz9 — платформа подготовки к техническим собеседованиям в стиле Dark Fantasy RPG.
    Единственный источник правды для фронта и бэка. Код генерируется из этой спецификации.
  contact:
    name: druz9
    url: https://druz9.online

servers:
  - url: https://druz9.online/api/v1
    description: Production
  - url: https://staging.druz9.online/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Local

security:
  - bearerAuth: []

tags:
  - { name: auth,      description: Авторизация (Яндекс OAuth, Telegram Login) }
  - { name: profile,   description: Профиль, skill atlas, weekly AI report }
  - { name: arena,     description: PvP матчи и матчмейкинг }
  - { name: mock,      description: AI Mock Review — симуляция интервью }
  - { name: native,    description: AI-Native Round — сессия с разрешённым AI }
  - { name: editor,    description: Совместный редактор кода }
  - { name: daily,     description: Daily Kata, Interview Calendar, Autopsy }
  - { name: rating,    description: Рейтинги, лидерборды }
  - { name: guild,     description: Гильдии и войны }
  - { name: season,    description: Season Pass }
  - { name: slot,      description: Human Mock — слоты и брони }
  - { name: podcast,   description: Подкасты }
  - { name: notify,    description: Уведомления }
  - { name: admin,     description: Админская панель }
  - { name: health,    description: Health checks }

paths:
  # ── HEALTH ──────────────────────────────────────────────────────────────
  /health:
    get:
      tags: [health]
      security: []
      summary: Liveness probe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthResponse' }

  /health/ready:
    get:
      tags: [health]
      security: []
      summary: Readiness probe (проверяет postgres, redis, minio, judge0, llm)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthResponse' }
        '503':
          description: Unavailable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthResponse' }

  # ── AUTH ────────────────────────────────────────────────────────────────
  /auth/yandex:
    post:
      tags: [auth]
      security: []
      summary: Яндекс OAuth callback
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/YandexAuthRequest' }
      responses:
        '200':
          description: Авторизован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/telegram:
    post:
      tags: [auth]
      security: []
      summary: Telegram Login Widget — верификация HMAC подписи
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelegramAuthRequest' }
      responses:
        '200':
          description: Авторизован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/refresh:
    post:
      tags: [auth]
      security: []
      summary: Обновить access token по refresh cookie
      responses:
        '200':
          description: Новый access token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/logout:
    delete:
      tags: [auth]
      summary: Выход — инвалидация сессии
      responses:
        '204': { description: Выход выполнен }

  # ── PROFILE ─────────────────────────────────────────────────────────────
  /profile/me:
    get:
      tags: [profile]
      summary: Текущий профиль пользователя
      responses:
        '200':
          description: Профиль
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProfileFull' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /profile/me/atlas:
    get:
      tags: [profile]
      summary: Skill atlas — узлы и прогресс
      responses:
        '200':
          description: Skill atlas
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SkillAtlas' }

  /profile/me/report:
    get:
      tags: [profile]
      summary: Weekly AI report (7-дневный агрегат)
      responses:
        '200':
          description: Weekly report
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WeeklyReport' }

  /profile/me/settings:
    put:
      tags: [profile]
      summary: Обновить настройки профиля
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateSettingsRequest' }
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProfileSettings' }

  /profile/{username}:
    get:
      tags: [profile]
      security: []
      summary: Публичный профиль (для SEO `/u/{username}`)
      parameters:
        - { name: username, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Публичный профиль
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProfilePublic' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ── ARENA ───────────────────────────────────────────────────────────────
  /arena/match/find:
    post:
      tags: [arena]
      summary: Встать в очередь матчмейкинга
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FindMatchRequest' }
      responses:
        '200':
          description: В очереди или найден
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MatchQueueResponse' }
        '429': { $ref: '#/components/responses/RateLimit' }

  /arena/match/cancel:
    delete:
      tags: [arena]
      summary: Отменить поиск матча
      responses:
        '204': { description: Отменено }

  /arena/match/{matchId}:
    get:
      tags: [arena]
      summary: Статус матча
      parameters:
        - { name: matchId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Состояние матча
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ArenaMatch' }
        '404': { $ref: '#/components/responses/NotFound' }

  /arena/match/{matchId}/confirm:
    post:
      tags: [arena]
      summary: Подтвердить готовность к матчу (10 сек окно)
      parameters:
        - { name: matchId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: Подтверждено }

  /arena/match/{matchId}/submit:
    post:
      tags: [arena]
      summary: Сдать решение в матче
      parameters:
        - { name: matchId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubmitCodeRequest' }
      responses:
        '200':
          description: Результат сдачи
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SubmitResult' }

  # ── AI MOCK ─────────────────────────────────────────────────────────────
  /mock/session:
    post:
      tags: [mock]
      summary: Создать AI мок-сессию
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMockRequest' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MockSession' }
        '429': { $ref: '#/components/responses/RateLimit' }

  /mock/session/{sessionId}:
    get:
      tags: [mock]
      summary: Получить сессию
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Сессия
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MockSession' }
        '404': { $ref: '#/components/responses/NotFound' }

  /mock/session/{sessionId}/message:
    post:
      tags: [mock]
      summary: Отправить сообщение AI-интервьюеру
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MockMessageRequest' }
      responses:
        '200':
          description: Ответ AI
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MockMessage' }

  /mock/session/{sessionId}/stress:
    post:
      tags: [mock]
      summary: Передать batch событий редактора для стресс-метрики
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StressEventsBatch' }
      responses:
        '204': { description: Принято }

  /mock/session/{sessionId}/finish:
    post:
      tags: [mock]
      summary: Завершить сессию и запросить итоговый отчёт
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Сессия завершена
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MockSession' }

  /mock/session/{sessionId}/report:
    get:
      tags: [mock]
      summary: Итоговый AI отчёт
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Отчёт
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MockReport' }

  # ── AI NATIVE ROUND ─────────────────────────────────────────────────────
  /native/session:
    post:
      tags: [native]
      summary: Создать AI-Native Round (AI встроен в сессию)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateNativeRequest' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NativeSession' }

  /native/session/{sessionId}/prompt:
    post:
      tags: [native]
      summary: Отправить промпт встроенному AI-ассистенту
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NativePromptRequest' }
      responses:
        '200':
          description: Ответ ассистента + provenance record
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NativePromptResponse' }

  /native/session/{sessionId}/verify:
    post:
      tags: [native]
      summary: Отметить верификацию AI-ответа (Verification Gate)
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NativeVerifyRequest' }
      responses:
        '200':
          description: Verification зафиксирован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NativeScores' }

  /native/session/{sessionId}/provenance:
    get:
      tags: [native]
      summary: Граф происхождения кода (AI / human / revised)
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Provenance Graph
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProvenanceGraph' }

  /native/session/{sessionId}/score:
    get:
      tags: [native]
      summary: Текущие scores (Context/Verification/Judgment/Delivery)
      parameters:
        - { name: sessionId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Текущие scores
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NativeScores' }

  # ── EDITOR ──────────────────────────────────────────────────────────────
  /editor/room:
    post:
      tags: [editor]
      summary: Создать комнату совместного редактора
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRoomRequest' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EditorRoom' }

  /editor/room/{roomId}:
    get:
      tags: [editor]
      summary: Получить комнату
      parameters:
        - { name: roomId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Комната
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EditorRoom' }

  /editor/room/{roomId}/invite:
    post:
      tags: [editor]
      summary: Создать ссылку-приглашение
      parameters:
        - { name: roomId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Ссылка
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InviteLink' }

  /editor/room/{roomId}/freeze:
    post:
      tags: [editor]
      summary: Переключить freeze-режим (только owner)
      parameters:
        - { name: roomId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [frozen]
              properties:
                frozen: { type: boolean }
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EditorRoom' }

  /editor/room/{roomId}/replay:
    get:
      tags: [editor]
      summary: Replay сессии — presigned URL на агрегированный таймлайн
      parameters:
        - { name: roomId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Replay URL
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReplayUrl' }

  # ── DAILY ───────────────────────────────────────────────────────────────
  /daily/kata:
    get:
      tags: [daily]
      summary: Сегодняшняя Kata (адаптивно по слабым узлам)
      responses:
        '200':
          description: Kata дня
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DailyKata' }

  /daily/kata/submit:
    post:
      tags: [daily]
      summary: Сдать решение Kata
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubmitKataRequest' }
      responses:
        '200':
          description: Результат + обновление streak
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KataResult' }

  /daily/streak:
    get:
      tags: [daily]
      summary: Текущий streak + история 30 дней
      responses:
        '200':
          description: Streak
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StreakInfo' }

  /daily/calendar:
    get:
      tags: [daily]
      summary: Текущий Interview Calendar (план подготовки)
      responses:
        '200':
          description: План
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InterviewCalendar' }
    post:
      tags: [daily]
      summary: Создать или обновить Interview Calendar
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpsertCalendarRequest' }
      responses:
        '200':
          description: Создано/обновлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InterviewCalendar' }

  /daily/autopsy:
    post:
      tags: [daily]
      summary: Создать Interview Autopsy — AI разбор реального собеса
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAutopsyRequest' }
      responses:
        '201':
          description: Autopsy в обработке
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InterviewAutopsy' }

  /daily/autopsy/{autopsyId}:
    get:
      tags: [daily]
      summary: Результат Autopsy
      parameters:
        - { name: autopsyId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Autopsy
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InterviewAutopsy' }

  # ── RATING ──────────────────────────────────────────────────────────────
  /rating/me:
    get:
      tags: [rating]
      summary: Мой рейтинг по всем секциям + Global Power Score
      responses:
        '200':
          description: Мои рейтинги
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MyRatings' }

  /rating/leaderboard:
    get:
      tags: [rating]
      summary: Топ по секции (TTL 1 мин в Redis)
      parameters:
        - { name: section, in: query, required: true, schema: { $ref: '#/components/schemas/Section' } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        '200':
          description: Лидерборд
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Leaderboard' }

  # ── GUILD ───────────────────────────────────────────────────────────────
  /guild/my:
    get:
      tags: [guild]
      summary: Моя гильдия
      responses:
        '200':
          description: Гильдия
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guild' }
        '404': { $ref: '#/components/responses/NotFound' }

  /guild/{guildId}:
    get:
      tags: [guild]
      summary: Публичная информация о гильдии
      parameters:
        - { name: guildId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Гильдия
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guild' }

  /guild/{guildId}/war:
    get:
      tags: [guild]
      summary: Текущая война гильдии (5 линий)
      parameters:
        - { name: guildId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Война
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GuildWar' }

  /guild/{guildId}/war/contribute:
    post:
      tags: [guild]
      summary: Вклад в линию войны
      parameters:
        - { name: guildId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ContributeRequest' }
      responses:
        '200':
          description: Вклад зачтён
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GuildWar' }

  # ── SEASON ──────────────────────────────────────────────────────────────
  /season/current:
    get:
      tags: [season]
      summary: Текущий сезон + мой прогресс
      responses:
        '200':
          description: Сезон
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SeasonProgress' }

  # ── SLOT (Human Mock) ───────────────────────────────────────────────────
  /slot:
    get:
      tags: [slot]
      summary: Доступные слоты (с фильтрами)
      parameters:
        - { name: section, in: query, schema: { $ref: '#/components/schemas/Section' } }
        - { name: difficulty, in: query, schema: { $ref: '#/components/schemas/Difficulty' } }
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
      responses:
        '200':
          description: Список слотов
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Slot' }
    post:
      tags: [slot]
      summary: Создать слот (только для интервьюеров)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateSlotRequest' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }

  /slot/{slotId}/book:
    post:
      tags: [slot]
      summary: Забронировать слот
      parameters:
        - { name: slotId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Забронировано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }

  /slot/{slotId}/cancel:
    delete:
      tags: [slot]
      summary: Отменить слот или бронь
      parameters:
        - { name: slotId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: Отменено }

  # ── PODCAST ─────────────────────────────────────────────────────────────
  /podcast:
    get:
      tags: [podcast]
      summary: Каталог подкастов
      parameters:
        - { name: section, in: query, schema: { $ref: '#/components/schemas/Section' } }
      responses:
        '200':
          description: Список
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Podcast' }

  /podcast/{podcastId}/progress:
    put:
      tags: [podcast]
      summary: Обновить прогресс прослушивания
      parameters:
        - { name: podcastId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PodcastProgressRequest' }
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PodcastProgress' }

  # ── NOTIFY ──────────────────────────────────────────────────────────────
  /notify/preferences:
    get:
      tags: [notify]
      summary: Получить настройки уведомлений
      responses:
        '200':
          description: Настройки
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationPreferences' }
    put:
      tags: [notify]
      summary: Обновить настройки уведомлений
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotificationPreferences' }
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationPreferences' }

  # ── ADMIN ───────────────────────────────────────────────────────────────
  /admin/tasks:
    get:
      tags: [admin]
      summary: Список задач (админ)
      parameters:
        - { name: section, in: query, schema: { $ref: '#/components/schemas/Section' } }
        - { name: difficulty, in: query, schema: { $ref: '#/components/schemas/Difficulty' } }
        - { name: is_active, in: query, schema: { type: boolean } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 200, default: 50 } }
      responses:
        '200':
          description: Список
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminTaskList' }
    post:
      tags: [admin]
      summary: Создать задачу
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminTaskUpsert' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminTask' }

  /admin/tasks/{taskId}:
    put:
      tags: [admin]
      summary: Обновить задачу
      parameters:
        - { name: taskId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminTaskUpsert' }
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminTask' }

  /admin/companies:
    get:
      tags: [admin]
      summary: Список компаний
      responses:
        '200':
          description: Список
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Company' }
    post:
      tags: [admin]
      summary: Создать компанию
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompanyUpsert' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Company' }

  /admin/config:
    get:
      tags: [admin]
      summary: Dynamic config — снимок всех параметров
      responses:
        '200':
          description: Конфиг
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ConfigEntry' }

  /admin/config/{key}:
    put:
      tags: [admin]
      summary: Обновить параметр (hot reload через Redis Pub/Sub)
      parameters:
        - { name: key, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConfigUpdate' }
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigEntry' }

  /admin/anticheat:
    get:
      tags: [admin]
      summary: Подозрительные сессии
      parameters:
        - { name: severity, in: query, schema: { type: string, enum: [low, medium, high] } }
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: limit, in: query, schema: { type: integer, default: 100 } }
      responses:
        '200':
          description: Журнал
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AnticheatSignal' }

# ═══════════════════════════════════════════════════════════════════════════
# WebSocket эндпоинты (документируются через x-websocket)
# ═══════════════════════════════════════════════════════════════════════════
x-websocket:
  /ws/arena/{matchId}:
    description: |
      ArenaHub — WebSocket для арены. Авторизация через `?token=` query param при handshake.
      Сообщения от клиента: match_ready, code_submit, heartbeat.
      Сообщения сервера: match_start, opponent_accepted, opponent_progress, match_result.
    messages:
      server: [match_start, opponent_accepted, opponent_progress, match_result, countdown]
      client: [match_ready, code_submit, heartbeat]

  /ws/mock/{sessionId}:
    description: |
      MockHub — WebSocket для AI мока. Стриминг токенов LLM, события редактора,
      стресс-метрики в реальном времени.
    messages:
      server: [ai_token, ai_done, intervention, stress_update]
      client: [editor_event, user_message, voice_chunk]

  /ws/editor/{roomId}:
    description: |
      EditorHub — Yjs OT операции, курсоры, ролевые события.
    messages:
      server: [op, cursor, freeze, role_change, participant_joined, participant_left]
      client: [op, cursor, presence]

# ═══════════════════════════════════════════════════════════════════════════
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token (15 мин). Refresh token — в httpOnly cookie.

  responses:
    ValidationError:
      description: Ошибка валидации
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: Доступ запрещён
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    RateLimit:
      description: Превышен лимит запросов
      headers:
        Retry-After: { schema: { type: integer }, description: Секунды до следующей попытки }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    InternalError:
      description: Внутренняя ошибка
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

  schemas:
    # ── ENUMS ─────────────────────────────────────────────────────────────
    Section:
      type: string
      description: Секция интервью
      enum: [algorithms, sql, go, system_design, behavioral]

    Difficulty:
      type: string
      enum: [easy, medium, hard]

    DungeonTier:
      type: string
      description: Сложность подземелья компании
      enum: [normal, hard, boss]

    Language:
      type: string
      description: Язык программирования в редакторе/задаче
      enum: [go, python, javascript, typescript, sql]

    MatchStatus:
      type: string
      enum: [searching, confirming, active, finished, cancelled]

    MockStatus:
      type: string
      enum: [created, in_progress, finished, abandoned]

    MessageRole:
      type: string
      enum: [system, user, assistant]

    LLMModel:
      type: string
      description: Модель LLM через OpenRouter
      enum:
        - openai/gpt-4o-mini
        - openai/gpt-4o
        - anthropic/claude-sonnet-4
        - google/gemini-pro
        - mistralai/mistral-7b

    SubscriptionPlan:
      type: string
      enum: [free, seeker, ascendant]

    UserRole:
      type: string
      enum: [user, interviewer, admin]

    CharClass:
      type: string
      description: Класс персонажа (автоматически по % в секциях)
      enum: [novice, algorithmist, dba, backend_dev, architect, communicator, ascendant]

    NotificationChannel:
      type: string
      enum: [telegram, email, push]

    SlotStatus:
      type: string
      enum: [available, booked, completed, cancelled, no_show]

    EditorEventType:
      type: string
      enum: [pause, backspace_burst, chaotic_edit, paste_attempt, idle]

    EditorRole:
      type: string
      enum: [owner, interviewer, participant, viewer]

    ProvenanceKind:
      type: string
      description: Происхождение куска кода в AI-Native Round
      enum: [ai_generated, human_written, ai_revised_by_human, ai_rejected]

    AuthProvider:
      type: string
      enum: [yandex, telegram]

    SeverityLevel:
      type: string
      enum: [low, medium, high]

    # ── ERROR ─────────────────────────────────────────────────────────────
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string, example: validation_error }
            message: { type: string, example: 'field `email` is required' }
            details:
              type: object
              additionalProperties: true

    # ── HEALTH ────────────────────────────────────────────────────────────
    HealthResponse:
      type: object
      required: [status, checks]
      properties:
        status: { type: string, enum: [ok, degraded, unavailable] }
        checks:
          type: object
          additionalProperties:
            type: object
            properties:
              status: { type: string, enum: [ok, fail] }
              latency_ms: { type: integer }
              error: { type: string, nullable: true }

    # ── AUTH ──────────────────────────────────────────────────────────────
    YandexAuthRequest:
      type: object
      required: [code]
      properties:
        code: { type: string, description: Authorization code от Яндекса }
        state: { type: string, nullable: true }

    TelegramAuthRequest:
      type: object
      required: [id, auth_date, hash]
      properties:
        id: { type: integer, format: int64 }
        first_name: { type: string }
        last_name: { type: string, nullable: true }
        username: { type: string, nullable: true }
        photo_url: { type: string, format: uri, nullable: true }
        auth_date: { type: integer, description: Unix timestamp подписи }
        hash: { type: string, description: HMAC-SHA256 подпись (проверяется через bot token) }

    AuthResponse:
      type: object
      required: [access_token, expires_in, user]
      properties:
        access_token: { type: string, description: JWT, 15 мин }
        expires_in: { type: integer, description: секунд до истечения access token }
        user: { $ref: '#/components/schemas/AuthUser' }

    AuthUser:
      type: object
      required: [id, username, role]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email, nullable: true }
        username: { type: string }
        role: { $ref: '#/components/schemas/UserRole' }
        provider: { $ref: '#/components/schemas/AuthProvider' }

    # ── PROFILE ───────────────────────────────────────────────────────────
    ProfileFull:
      type: object
      required: [id, username, level, xp, char_class, attributes, subscription]
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        display_name: { type: string, nullable: true }
        avatar_frame: { type: string, nullable: true, description: 'ключ рамки аватара' }
        title: { type: string, nullable: true }
        level: { type: integer }
        xp: { type: integer }
        xp_to_next: { type: integer }
        char_class: { $ref: '#/components/schemas/CharClass' }
        attributes: { $ref: '#/components/schemas/Attributes' }
        global_power_score: { type: integer, description: 'Средневзвешенный рейтинг по секциям' }
        career_stage:
          type: string
          enum: [junior, middle, senior, staff, principal]
        subscription:
          type: object
          properties:
            plan: { $ref: '#/components/schemas/SubscriptionPlan' }
            current_period_end: { type: string, format: date-time, nullable: true }
        ai_credits: { type: integer }
        created_at: { type: string, format: date-time }

    ProfilePublic:
      type: object
      required: [username, level, char_class, global_power_score]
      properties:
        username: { type: string }
        display_name: { type: string, nullable: true }
        title: { type: string, nullable: true }
        level: { type: integer }
        char_class: { $ref: '#/components/schemas/CharClass' }
        career_stage: { type: string }
        global_power_score: { type: integer }
        ratings:
          type: array
          items: { $ref: '#/components/schemas/SectionRating' }
        achievements:
          type: array
          items: { $ref: '#/components/schemas/Achievement' }
        atlas_preview: { $ref: '#/components/schemas/SkillAtlas' }

    ProfileSettings:
      type: object
      properties:
        display_name: { type: string, nullable: true }
        default_language: { $ref: '#/components/schemas/Language' }
        locale: { type: string, enum: [ru, en] }
        notifications: { $ref: '#/components/schemas/NotificationPreferences' }
        voice_mode_enabled: { type: boolean }

    UpdateSettingsRequest:
      allOf:
        - $ref: '#/components/schemas/ProfileSettings'

    Attributes:
      type: object
      description: 'Атрибуты персонажа (derived): Интеллект→Алгоритмы, Сила→SystemDesign, Ловкость→SQL/Backend, Воля→Behavioral'
      required: [intellect, strength, dexterity, will]
      properties:
        intellect: { type: integer, minimum: 0, maximum: 100 }
        strength: { type: integer, minimum: 0, maximum: 100 }
        dexterity: { type: integer, minimum: 0, maximum: 100 }
        will: { type: integer, minimum: 0, maximum: 100 }

    SectionRating:
      type: object
      required: [section, elo, matches_count, percentile]
      properties:
        section: { $ref: '#/components/schemas/Section' }
        elo: { type: integer }
        matches_count: { type: integer }
        percentile: { type: integer, description: '1..100' }
        decaying: { type: boolean, description: 'истинно если не практиковался >7 дней' }

    Achievement:
      type: object
      required: [key, earned_at]
      properties:
        key: { type: string }
        title: { type: string }
        description: { type: string }
        earned_at: { type: string, format: date-time }

    # ── SKILL ATLAS ───────────────────────────────────────────────────────
    SkillAtlas:
      type: object
      required: [nodes, edges]
      properties:
        center_node: { type: string, description: 'id класса' }
        nodes:
          type: array
          items: { $ref: '#/components/schemas/SkillNode' }
        edges:
          type: array
          items: { $ref: '#/components/schemas/SkillEdge' }

    SkillNode:
      type: object
      required: [key, section, kind, progress, unlocked]
      properties:
        key: { type: string }
        title: { type: string }
        description: { type: string }
        section: { $ref: '#/components/schemas/Section' }
        kind: { type: string, enum: [normal, keystone, ascendant] }
        progress: { type: integer, minimum: 0, maximum: 100 }
        unlocked: { type: boolean }
        unlocked_at: { type: string, format: date-time, nullable: true }
        decaying: { type: boolean, description: 'увядающий (не практиковался 7+ дней)' }

    SkillEdge:
      type: object
      required: [from, to]
      properties:
        from: { type: string }
        to: { type: string }

    # ── WEEKLY REPORT ─────────────────────────────────────────────────────
    WeeklyReport:
      type: object
      required: [week_start, week_end, metrics, strengths, weaknesses, recommendations]
      properties:
        week_start: { type: string, format: date }
        week_end: { type: string, format: date }
        metrics:
          type: object
          properties:
            tasks_solved: { type: integer }
            matches_won: { type: integer }
            rating_change: { type: integer }
            xp_earned: { type: integer }
            time_minutes: { type: integer }
        heatmap:
          type: array
          description: '7 ячеек, интенсивность 0..4'
          items: { type: integer, minimum: 0, maximum: 4 }
        strengths:
          type: array
          items: { type: string }
        weaknesses:
          type: array
          items:
            type: object
            properties:
              atlas_node_key: { type: string }
              reason: { type: string }
        stress_analysis: { type: string, description: 'паттерн поведения под давлением' }
        recommendations:
          type: array
          items: { $ref: '#/components/schemas/Recommendation' }

    Recommendation:
      type: object
      required: [title, action]
      properties:
        title: { type: string }
        description: { type: string }
        action:
          type: object
          required: [kind]
          properties:
            kind: { type: string, enum: [start_mock, solve_task, listen_podcast, open_atlas, open_arena] }
            params:
              type: object
              additionalProperties: true

    NotificationPreferences:
      type: object
      properties:
        channels:
          type: array
          items: { $ref: '#/components/schemas/NotificationChannel' }
        telegram_chat_id: { type: string, nullable: true }
        quiet_hours:
          type: object
          nullable: true
          properties:
            from: { type: string, example: '22:00' }
            to: { type: string, example: '08:00' }
        weekly_report_enabled: { type: boolean }
        skill_decay_warnings_enabled: { type: boolean }

    # ── ARENA ─────────────────────────────────────────────────────────────
    FindMatchRequest:
      type: object
      required: [section, mode]
      properties:
        section: { $ref: '#/components/schemas/Section' }
        mode: { type: string, enum: [solo_1v1, duo_2v2, ranked, hardcore, cursed] }
        language: { $ref: '#/components/schemas/Language' }

    MatchQueueResponse:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [queued, matched] }
        queue_position: { type: integer, nullable: true }
        estimated_wait_sec: { type: integer, nullable: true }
        match_id: { type: string, format: uuid, nullable: true, description: 'если уже найден' }

    ArenaMatch:
      type: object
      required: [id, status, section, started_at]
      properties:
        id: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/MatchStatus' }
        mode: { type: string }
        section: { $ref: '#/components/schemas/Section' }
        task: { $ref: '#/components/schemas/TaskPublic' }
        participants:
          type: array
          items: { $ref: '#/components/schemas/ArenaParticipant' }
        started_at: { type: string, format: date-time, nullable: true }
        finished_at: { type: string, format: date-time, nullable: true }
        winner_user_id: { type: string, format: uuid, nullable: true }

    ArenaParticipant:
      type: object
      required: [user_id, username, elo_before]
      properties:
        user_id: { type: string, format: uuid }
        username: { type: string }
        team: { type: integer }
        elo_before: { type: integer }
        elo_after: { type: integer, nullable: true }
        solve_time_ms: { type: integer, nullable: true }
        suspicion_score: { type: number, format: float, nullable: true }

    SubmitCodeRequest:
      type: object
      required: [code, language]
      properties:
        code: { type: string, maxLength: 51200 }
        language: { $ref: '#/components/schemas/Language' }

    SubmitResult:
      type: object
      required: [passed, tests_total, tests_passed]
      properties:
        passed: { type: boolean }
        tests_total: { type: integer }
        tests_passed: { type: integer }
        failed_cases:
          type: array
          items:
            type: object
            properties:
              index: { type: integer }
              error: { type: string }
        runtime_ms: { type: integer }
        memory_kb: { type: integer }

    TaskPublic:
      type: object
      required: [id, slug, title, description, difficulty, section]
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        title: { type: string }
        description: { type: string, description: 'Markdown. НЕ содержит solution_hint' }
        difficulty: { $ref: '#/components/schemas/Difficulty' }
        section: { $ref: '#/components/schemas/Section' }
        time_limit_sec: { type: integer }
        memory_limit_mb: { type: integer }
        starter_code:
          type: object
          additionalProperties: { type: string }
          description: 'ключ — язык, значение — шаблон'
        example_cases:
          type: array
          items:
            type: object
            properties:
              input: { type: string }
              output: { type: string }
              explanation: { type: string, nullable: true }

    # ── MOCK ──────────────────────────────────────────────────────────────
    CreateMockRequest:
      type: object
      required: [company_id, section, difficulty]
      properties:
        company_id: { type: string, format: uuid }
        section: { $ref: '#/components/schemas/Section' }
        difficulty: { $ref: '#/components/schemas/Difficulty' }
        duration_min: { type: integer, minimum: 15, maximum: 120, default: 45 }
        voice_mode: { type: boolean, default: false }
        paired_user_id: { type: string, format: uuid, nullable: true, description: 'парный AI-мок' }
        devils_advocate: { type: boolean, default: false }
        llm_model: { $ref: '#/components/schemas/LLMModel' }

    MockSession:
      type: object
      required: [id, status, section, started_at]
      properties:
        id: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/MockStatus' }
        company_id: { type: string, format: uuid }
        section: { $ref: '#/components/schemas/Section' }
        difficulty: { $ref: '#/components/schemas/Difficulty' }
        duration_min: { type: integer }
        task: { $ref: '#/components/schemas/TaskPublic' }
        started_at: { type: string, format: date-time, nullable: true }
        finished_at: { type: string, format: date-time, nullable: true }
        last_messages:
          type: array
          items: { $ref: '#/components/schemas/MockMessage' }
        stress_profile: { $ref: '#/components/schemas/StressProfile' }

    MockMessageRequest:
      type: object
      required: [content]
      properties:
        content: { type: string }
        code_snapshot: { type: string, nullable: true }
        voice_transcript: { type: string, nullable: true }

    MockMessage:
      type: object
      required: [id, role, content, created_at]
      properties:
        id: { type: string, format: uuid }
        role: { $ref: '#/components/schemas/MessageRole' }
        content: { type: string }
        tokens_used: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }

    StressEventsBatch:
      type: object
      required: [events]
      properties:
        events:
          type: array
          items: { $ref: '#/components/schemas/StressEvent' }

    StressEvent:
      type: object
      required: [type, at_ms]
      properties:
        type: { $ref: '#/components/schemas/EditorEventType' }
        at_ms: { type: integer, description: 'мс от начала сессии' }
        duration_ms: { type: integer, nullable: true }
        metadata: { type: object, additionalProperties: true }

    StressProfile:
      type: object
      properties:
        pauses_score: { type: integer, minimum: 0, maximum: 100 }
        backspace_score: { type: integer, minimum: 0, maximum: 100 }
        chaos_score: { type: integer, minimum: 0, maximum: 100 }
        paste_attempts: { type: integer }

    MockReport:
      type: object
      required: [session_id, overall_score, sections]
      properties:
        session_id: { type: string, format: uuid }
        overall_score: { type: integer, minimum: 0, maximum: 100 }
        sections:
          type: object
          properties:
            problem_solving: { $ref: '#/components/schemas/ScoredSection' }
            code_quality: { $ref: '#/components/schemas/ScoredSection' }
            communication: { $ref: '#/components/schemas/ScoredSection' }
            stress_handling: { $ref: '#/components/schemas/ScoredSection' }
        strengths:
          type: array
          items: { type: string }
        weaknesses:
          type: array
          items: { type: string }
        recommendations:
          type: array
          items: { $ref: '#/components/schemas/Recommendation' }
        stress_analysis: { type: string }
        replay_url: { type: string, format: uri, nullable: true, description: 'presigned, TTL 1 час' }

    ScoredSection:
      type: object
      required: [score]
      properties:
        score: { type: integer, minimum: 0, maximum: 100 }
        comment: { type: string }

    # ── NATIVE (AI-Native Round) ──────────────────────────────────────────
    CreateNativeRequest:
      type: object
      required: [section, difficulty]
      properties:
        section: { $ref: '#/components/schemas/Section' }
        difficulty: { $ref: '#/components/schemas/Difficulty' }
        llm_model: { $ref: '#/components/schemas/LLMModel' }

    NativeSession:
      type: object
      required: [id, section, task, started_at]
      properties:
        id: { type: string, format: uuid }
        section: { $ref: '#/components/schemas/Section' }
        task: { $ref: '#/components/schemas/TaskPublic' }
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
        scores: { $ref: '#/components/schemas/NativeScores' }

    NativePromptRequest:
      type: object
      required: [prompt, context_code]
      properties:
        prompt: { type: string }
        context_code: { type: string, description: 'код на момент отправки' }
        selection_range:
          type: object
          nullable: true
          properties:
            start_line: { type: integer }
            end_line: { type: integer }

    NativePromptResponse:
      type: object
      required: [response_text, provenance_id, scores]
      properties:
        response_text: { type: string }
        contains_hallucination_trap: { type: boolean, description: 'система подсунула ловушку' }
        provenance_id: { type: string, format: uuid }
        scores: { $ref: '#/components/schemas/NativeScores' }

    NativeVerifyRequest:
      type: object
      required: [provenance_id, action]
      properties:
        provenance_id: { type: string, format: uuid }
        action: { type: string, enum: [accepted, rejected, revised] }
        reason: { type: string, nullable: true }
        revised_code: { type: string, nullable: true }

    NativeScores:
      type: object
      required: [context, verification, judgment, delivery]
      properties:
        context: { type: integer, minimum: 0, maximum: 100, description: 'качество постановки задачи' }
        verification: { type: integer, minimum: 0, maximum: 100, description: 'проверка AI ответов' }
        judgment: { type: integer, minimum: 0, maximum: 100, description: 'ловит ли галлюцинации' }
        delivery: { type: integer, minimum: 0, maximum: 100, description: 'финальное качество' }

    ProvenanceGraph:
      type: object
      required: [records]
      properties:
        records:
          type: array
          items: { $ref: '#/components/schemas/ProvenanceRecord' }

    ProvenanceRecord:
      type: object
      required: [id, kind, created_at]
      properties:
        id: { type: string, format: uuid }
        kind: { $ref: '#/components/schemas/ProvenanceKind' }
        parent_id: { type: string, format: uuid, nullable: true }
        snippet: { type: string }
        ai_prompt: { type: string, nullable: true }
        verified_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    # ── EDITOR ────────────────────────────────────────────────────────────
    CreateRoomRequest:
      type: object
      required: [language]
      properties:
        type: { type: string, enum: [practice, interview, pair_mock] }
        task_id: { type: string, format: uuid, nullable: true }
        language: { $ref: '#/components/schemas/Language' }

    EditorRoom:
      type: object
      required: [id, owner_id, language, is_frozen]
      properties:
        id: { type: string, format: uuid }
        owner_id: { type: string, format: uuid }
        type: { type: string }
        task: { $ref: '#/components/schemas/TaskPublic' }
        language: { $ref: '#/components/schemas/Language' }
        is_frozen: { type: boolean }
        participants:
          type: array
          items: { $ref: '#/components/schemas/EditorParticipant' }
        ws_url: { type: string, format: uri, description: '/ws/editor/{id}' }
        expires_at: { type: string, format: date-time }

    EditorParticipant:
      type: object
      required: [user_id, username, role]
      properties:
        user_id: { type: string, format: uuid }
        username: { type: string }
        role: { $ref: '#/components/schemas/EditorRole' }

    InviteLink:
      type: object
      required: [url, expires_at]
      properties:
        url: { type: string, format: uri }
        expires_at: { type: string, format: date-time }

    ReplayUrl:
      type: object
      required: [url, expires_at]
      properties:
        url: { type: string, format: uri, description: 'presigned MinIO URL, TTL 1 час' }
        expires_at: { type: string, format: date-time }

    # ── DAILY ─────────────────────────────────────────────────────────────
    DailyKata:
      type: object
      required: [date, task, is_cursed]
      properties:
        date: { type: string, format: date }
        task: { $ref: '#/components/schemas/TaskPublic' }
        is_cursed: { type: boolean, description: 'пятничная проклятая — тройной XP' }
        is_weekly_boss: { type: boolean, description: 'воскресный босс' }
        already_submitted: { type: boolean }

    SubmitKataRequest:
      type: object
      required: [code, language]
      properties:
        code: { type: string }
        language: { $ref: '#/components/schemas/Language' }

    KataResult:
      type: object
      required: [passed, streak]
      properties:
        passed: { type: boolean }
        tests_passed: { type: integer }
        tests_total: { type: integer }
        xp_earned: { type: integer }
        streak: { $ref: '#/components/schemas/StreakInfo' }

    StreakInfo:
      type: object
      required: [current, longest, freeze_tokens]
      properties:
        current: { type: integer }
        longest: { type: integer }
        freeze_tokens: { type: integer }
        history:
          type: array
          description: 'последние 30 дней (true — есть Kata, false — пропущено, null — использован freeze)'
          items: { type: boolean, nullable: true }

    UpsertCalendarRequest:
      type: object
      required: [company_id, role, interview_date]
      properties:
        company_id: { type: string, format: uuid }
        role: { type: string, example: 'Backend Go Developer' }
        interview_date: { type: string, format: date }
        current_level: { type: string, example: 'middle' }

    InterviewCalendar:
      type: object
      required: [id, interview_date, days_left, readiness_pct]
      properties:
        id: { type: string, format: uuid }
        company_id: { type: string, format: uuid }
        role: { type: string }
        interview_date: { type: string, format: date }
        days_left: { type: integer }
        readiness_pct: { type: integer, minimum: 0, maximum: 100 }
        today:
          type: array
          items: { $ref: '#/components/schemas/CalendarTask' }
        week_plan:
          type: array
          items:
            type: object
            properties:
              date: { type: string, format: date }
              tasks:
                type: array
                items: { $ref: '#/components/schemas/CalendarTask' }
        weak_zones:
          type: array
          items:
            type: object
            properties:
              atlas_node_key: { type: string }
              priority: { type: string, enum: [high, medium, low] }

    CalendarTask:
      type: object
      required: [kind, title, done]
      properties:
        kind: { type: string, enum: [solve_task, mock, native_round, podcast, review] }
        title: { type: string }
        estimated_min: { type: integer }
        done: { type: boolean }
        target_id: { type: string, format: uuid, nullable: true }

    CreateAutopsyRequest:
      type: object
      required: [company_id, section, outcome, questions, answers]
      properties:
        company_id: { type: string, format: uuid }
        section: { $ref: '#/components/schemas/Section' }
        outcome: { type: string, enum: [offer, rejection, pending] }
        interview_date: { type: string, format: date }
        questions: { type: string, description: 'Что спросили (raw текст)' }
        answers: { type: string, description: 'Что ответил' }
        notes: { type: string, nullable: true }

    InterviewAutopsy:
      type: object
      required: [id, status, outcome]
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [processing, ready, failed] }
        outcome: { type: string }
        failure_reason: { type: string, nullable: true, description: 'Основная причина провала' }
        what_to_say: { type: string, nullable: true, description: 'Что нужно было сказать' }
        weak_atlas_nodes:
          type: array
          items: { type: string }
        recovery_plan:
          type: array
          items: { $ref: '#/components/schemas/Recommendation' }
        share_url: { type: string, format: uri, nullable: true, description: 'Анонимная публичная ссылка' }
        created_at: { type: string, format: date-time }

    # ── RATING ────────────────────────────────────────────────────────────
    MyRatings:
      type: object
      required: [ratings, global_power_score]
      properties:
        ratings:
          type: array
          items: { $ref: '#/components/schemas/SectionRating' }
        global_power_score: { type: integer }
        history:
          type: array
          description: 'Последние 12 недель'
          items:
            type: object
            properties:
              week_start: { type: string, format: date }
              global_power_score: { type: integer }

    Leaderboard:
      type: object
      required: [section, entries]
      properties:
        section: { $ref: '#/components/schemas/Section' }
        updated_at: { type: string, format: date-time }
        my_rank: { type: integer, nullable: true }
        entries:
          type: array
          items:
            type: object
            required: [rank, user_id, username, elo]
            properties:
              rank: { type: integer }
              user_id: { type: string, format: uuid }
              username: { type: string }
              elo: { type: integer }
              title: { type: string, nullable: true }
              guild_emblem: { type: string, nullable: true }

    # ── GUILD ─────────────────────────────────────────────────────────────
    Guild:
      type: object
      required: [id, name, guild_elo, members]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        emblem: { type: string }
        guild_elo: { type: integer }
        members:
          type: array
          items: { $ref: '#/components/schemas/GuildMember' }
        current_war_id: { type: string, format: uuid, nullable: true }

    GuildMember:
      type: object
      required: [user_id, username, role]
      properties:
        user_id: { type: string, format: uuid }
        username: { type: string }
        role: { type: string, enum: [captain, member] }
        joined_at: { type: string, format: date-time }
        assigned_section: { $ref: '#/components/schemas/Section' }

    GuildWar:
      type: object
      required: [id, week_start, guild_a, guild_b, lines]
      properties:
        id: { type: string, format: uuid }
        week_start: { type: string, format: date }
        week_end: { type: string, format: date }
        guild_a:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
            emblem: { type: string }
        guild_b:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
            emblem: { type: string }
        lines:
          type: array
          description: '5 линий войны (по секциям)'
          items: { $ref: '#/components/schemas/WarLine' }
        winner_guild_id: { type: string, format: uuid, nullable: true }

    WarLine:
      type: object
      required: [section, score_a, score_b]
      properties:
        section: { $ref: '#/components/schemas/Section' }
        score_a: { type: integer }
        score_b: { type: integer }
        contributors:
          type: array
          items:
            type: object
            properties:
              user_id: { type: string, format: uuid }
              username: { type: string }
              side: { type: string, enum: [a, b] }
              score: { type: integer }

    ContributeRequest:
      type: object
      required: [section, code, language]
      properties:
        section: { $ref: '#/components/schemas/Section' }
        code: { type: string }
        language: { $ref: '#/components/schemas/Language' }

    # ── SEASON ────────────────────────────────────────────────────────────
    SeasonProgress:
      type: object
      required: [season, my_points, tier]
      properties:
        season:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string, example: 'The Recursion' }
            slug: { type: string, example: 'season-2' }
            starts_at: { type: string, format: date-time }
            ends_at: { type: string, format: date-time }
        my_points: { type: integer }
        tier: { type: integer, description: 'текущий tier на треке' }
        is_premium: { type: boolean }
        tracks:
          type: array
          description: 'Free и Premium дорожки'
          items:
            type: object
            properties:
              kind: { type: string, enum: [free, premium] }
              tiers:
                type: array
                items:
                  type: object
                  properties:
                    tier: { type: integer }
                    required_points: { type: integer }
                    reward_key: { type: string }
                    claimed: { type: boolean }
        weekly_challenges:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              title: { type: string }
              progress: { type: integer }
              target: { type: integer }
              points_reward: { type: integer }

    # ── SLOT ──────────────────────────────────────────────────────────────
    CreateSlotRequest:
      type: object
      required: [starts_at, duration_min, section, price_rub]
      properties:
        starts_at: { type: string, format: date-time }
        duration_min: { type: integer, minimum: 15, maximum: 180 }
        section: { $ref: '#/components/schemas/Section' }
        difficulty: { $ref: '#/components/schemas/Difficulty' }
        price_rub: { type: integer, minimum: 0 }
        language: { type: string, enum: [ru, en] }

    Slot:
      type: object
      required: [id, interviewer, starts_at, section, status, price_rub]
      properties:
        id: { type: string, format: uuid }
        interviewer:
          type: object
          properties:
            user_id: { type: string, format: uuid }
            username: { type: string }
            avg_rating: { type: number, format: float }
            reviews_count: { type: integer }
        starts_at: { type: string, format: date-time }
        duration_min: { type: integer }
        section: { $ref: '#/components/schemas/Section' }
        difficulty: { $ref: '#/components/schemas/Difficulty' }
        language: { type: string }
        price_rub: { type: integer }
        status: { $ref: '#/components/schemas/SlotStatus' }

    Booking:
      type: object
      required: [id, slot, meet_url]
      properties:
        id: { type: string, format: uuid }
        slot: { $ref: '#/components/schemas/Slot' }
        meet_url: { type: string, format: uri }
        created_at: { type: string, format: date-time }

    # ── PODCAST ───────────────────────────────────────────────────────────
    Podcast:
      type: object
      required: [id, title, section, duration_sec]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string }
        section: { $ref: '#/components/schemas/Section' }
        duration_sec: { type: integer }
        audio_url: { type: string, format: uri, description: 'стриминг через бэкенд' }
        progress_sec: { type: integer, description: 'прогресс текущего пользователя' }
        completed: { type: boolean }

    PodcastProgressRequest:
      type: object
      required: [progress_sec]
      properties:
        progress_sec: { type: integer, minimum: 0 }
        completed: { type: boolean }

    PodcastProgress:
      type: object
      properties:
        podcast_id: { type: string, format: uuid }
        progress_sec: { type: integer }
        completed: { type: boolean }
        completed_at: { type: string, format: date-time, nullable: true }

    # ── ADMIN ─────────────────────────────────────────────────────────────
    Company:
      type: object
      required: [id, slug, name, difficulty]
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        difficulty: { $ref: '#/components/schemas/DungeonTier' }
        min_level_required: { type: integer }
        sections:
          type: array
          items: { $ref: '#/components/schemas/Section' }

    CompanyUpsert:
      type: object
      required: [slug, name, difficulty]
      properties:
        slug: { type: string }
        name: { type: string }
        difficulty: { $ref: '#/components/schemas/DungeonTier' }
        min_level_required: { type: integer, default: 0 }

    AdminTaskList:
      type: object
      required: [items, total]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/AdminTask' }
        total: { type: integer }
        page: { type: integer }

    AdminTask:
      type: object
      required: [id, slug, section, difficulty, version, is_active]
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        title_ru: { type: string }
        title_en: { type: string }
        description_ru: { type: string }
        description_en: { type: string }
        difficulty: { $ref: '#/components/schemas/Difficulty' }
        section: { $ref: '#/components/schemas/Section' }
        time_limit_sec: { type: integer }
        memory_limit_mb: { type: integer }
        solution_hint: { type: string, description: 'Только для админов и AI. НЕ отдаётся обычному клиенту.' }
        version: { type: integer }
        is_active: { type: boolean }
        test_cases:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              input: { type: string }
              expected_output: { type: string }
              is_hidden: { type: boolean }
              order_num: { type: integer }
        follow_up_questions:
          type: array
          items:
            type: object
            properties:
              question_ru: { type: string }
              question_en: { type: string }
              answer_hint: { type: string }
              order_num: { type: integer }

    AdminTaskUpsert:
      type: object
      required: [slug, title_ru, title_en, description_ru, description_en, difficulty, section]
      properties:
        slug: { type: string }
        title_ru: { type: string }
        title_en: { type: string }
        description_ru: { type: string }
        description_en: { type: string }
        difficulty: { $ref: '#/components/schemas/Difficulty' }
        section: { $ref: '#/components/schemas/Section' }
        time_limit_sec: { type: integer, default: 60 }
        memory_limit_mb: { type: integer, default: 256 }
        solution_hint: { type: string }
        is_active: { type: boolean, default: true }
        test_cases:
          type: array
          items:
            type: object
            properties:
              input: { type: string }
              expected_output: { type: string }
              is_hidden: { type: boolean }
              order_num: { type: integer }
        follow_up_questions:
          type: array
          items:
            type: object
            properties:
              question_ru: { type: string }
              question_en: { type: string }
              answer_hint: { type: string }
              order_num: { type: integer }

    ConfigEntry:
      type: object
      required: [key, value, type]
      properties:
        key: { type: string, example: arena_workers_count }
        value:
          oneOf:
            - { type: number }
            - { type: string }
            - { type: boolean }
            - { type: object, additionalProperties: true }
        type: { type: string, enum: [int, float, string, bool, json] }
        description: { type: string }
        updated_at: { type: string, format: date-time }
        updated_by: { type: string, format: uuid, nullable: true }

    ConfigUpdate:
      type: object
      required: [value]
      properties:
        value:
          oneOf:
            - { type: number }
            - { type: string }
            - { type: boolean }
            - { type: object, additionalProperties: true }

    AnticheatSignal:
      type: object
      required: [id, user_id, type, severity, created_at]
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        username: { type: string }
        match_id: { type: string, format: uuid, nullable: true }
        type: { type: string, example: paste_detected }
        severity: { $ref: '#/components/schemas/SeverityLevel' }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
